<div class="box">
    <section class="card pa-50 card-container">
      <!-- <credit-card
        [cardNumber]="cardNumber"
        [cardHolderName]="cardHolderName"
        [cardExpiryYear]="cardExpiryYear"
        [cardExpiryMonth]="cardExpiryMonth"
      ></credit-card> -->
      <form  class="layout-column" novalidate>
        <label class="mt-20">
          <input
            type="text"
            data-test-id="number-input"
            autocomplete="off"
            formControlName="number"
            class="white large outlined"
            [class]="{'error': true}"
            placeholder="Card Number"
          />
        </label>
        <label class="mt-20">
          <input
            type="text"
            formControlName="name"
            autocomplete="off"
            data-test-id="name-input"
            class="white large outlined"
            [class]="{'error': true}"
            placeholder="Name on card"
          />
        </label>
        <div class="layout-row card-info mt-20">
          <section class="layout-column">
            <div class="flex">
              <label class="expiry-month">
                <input
                  type="text"
                  formControlName="month"
                  data-test-id="month-input"
                  autocomplete="off"
                  class="white large outlined"
                  [class]="{'error': true}"
                  placeholder="##"
                />
                <p class="form-hint">Expiry Month</p>
              </label>
              <label class="expiry-year ml-8">
                <input
                  type="number"
                  formControlName="year"
                  data-test-id="year-input"
                  autocomplete="off"
                  class="white large outlined"
                  [class]="{'error': true}"
                  placeholder="####"
                />
                <p class="form-hint">Expiry Year</p>
              </label>
            </div>
          </section>
  
          <label class="cvv-number">
            <input
              type="number"
              formControlName="cvv"
              autocomplete="off"
              data-test-id="cvv-input"
              class="white large outlined"
              [class]="{'error': true}"
              placeholder="###"
            />
            <p class="form-hint">CVV/CVC</p>
          </label>
        </div>
  
        <button class="mt-50" type="submit" data-test-id="submit-button">
          Submit
        </button>
      </form>
    </section>
  </div>
  